{% extends "base.html" %}
{% load static %}
{% block scripts %}
    <script src="{% static "js/validate_form.js" %}"></script>
{% endblock %}
{% block title %} Rejestracja {% endblock %}
{% block content %}
<div class="teaser" style="width: 45%;">
    <script> validateForm() </script>
    <h3>Rejestracja</h3>
    <form role="form" action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                        {% for i in parameters %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="{{ i.3 }}"></i>
                                    </span>
                                    <input class="form-control" placeholder="{{ i.2}}" name="{{ i.1 }}" id="{{ i.0 }}" type="{{ i.4 }}" autofocus>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zarejestruj się!">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
